#main{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#section_1{
    width: 10%;
}

#section_2{
    width: 70%;
}
aside a{
    text-decoration: none;
}

table {
    border-collapse: collapse;
    background-color: hsl(210, 17%, 98%);
}

table,
tr,
td,
th {
    border: 1px solid #a2a9b1;
}


th {
    padding: 0.2em 0.4em;
    font-weight: bold;
    background: #eaecf0;
}
a {
    text-decoration: none;
}


aside h4{
    color: gray;
    font-size: 16px;
}
#wikipedia_img{
    width: 8%;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#text_and_image{
    display: flex;
}